<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<% include ./partials/navbar.ejs %>
	  	<% include ./partials/flash-messages.ejs %>

	<%- body -%>
	<script src="/javascripts/post-edit.js" type="text/javascript"></script>
</body>
</html>